<h2>{{celebrity.name}}</h2>

<p><strong>Name:</strong> {{celebrity.name}}</p>
<p><strong>Occupation:</strong> {{celebrity.occupation}}</p>
<p><strong>Catch phrase:</strong> {{celebrity.catchPhrase}}</p>